@tailwind base;
@tailwind components;
@tailwind utilities;

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

button{
  text-align: center;
  justify-content: center;
}

.box-signin{
  text-align: center;
  margin-top: 300px;
}

.box-links{
  display: flex;
}

.box-links div{
  margin-right: 4px;
}

.creator{
  font-size: 14px;

}

.links{
  margin-top: 2px;
}

.sp-creator{
  font-weight: bold;
}

.container-footer{
  position: fixed;
  bottom: 0;
  margin: 0 0 4px 8px;
}

.box-header{
  text-align: right;
}

.box-header span{
  margin-right: 20px;
}

.box-header .link-ide{
  margin-right: 40px;
}

a .side-elements:hover{
  color:rgba(0, 0, 0, .2);
}

a{
  color:darkgrey;
}

.container-home{
  display: flex;
  flex-direction: column;
}

.container-home div{
  text-align: center;
}

.container-showcase{
  display: flex;
  margin: 0 auto;
}

.container-showcase div{
  align-items: center;
  flex: 1;
}

.project-titles{
  font-weight: bold;
  font-size: 22px;
  color: rgba(0,0,0,.6);
  border-style: double;
  border-width: 3px;
  border-color: rgba(0,0,0,.7);
  border-radius: 4px;
  padding-left: 7px;
  padding-right: 7px;
}

.side-elements{
  font-weight: bold;
  font-size: 14px;
  color: rgba(0,0,0,.6);
  border-style: double;
  border-color: rgba(0,0,0,.7);
  border-width: 3px;
  border-radius: 4px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.side-elements.slink{
  margin-bottom: 20px;
}

.explore{
  font-size: 20px;
  margin-top: 10px;
}

.container-title div{
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.project-pic{
  margin-bottom: 10px;
}